/* COMMAND RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgray;
}

/* START HEADER */

header{
  width: 100%;
  padding: 10px;
  background-color: white;
}

header img{
    vertical-align: middle;
    margin-left: 20px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    font-size:35px;
}

/* LAYOUT */

.layout{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 2%;
}

.top{
    margin-top: 30px;
}

.bottom{
    margin-top: 2px;
}

/* BUTTON BLUE AND TRASPARENT */

.button-position{
    height: 60px;
    padding: 15px;
    margin-left: 35px; 
}

.button{
    display: inline-block;
    padding: 5px 2px;
    border-radius: 8px;
}

.blue{
    background-color: rgb(71, 173, 241);
    color: white;
    border: none;
}

.trasparent{
   color: white;
   border: 1px solid rgb(229, 231, 234);
}

/* START UNORDERED LIST */

ul{
    margin-top: 3%;
}

li{
    font-size: 18px;
    line-height: 30px;
}

li:before{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 2px;
}

.False-check::before{
    border: 1px solid red;
    color: red;
    content: "\2715";
}

.list-title h3::before{
    content: '\25BC';
    font-size: 14px;
}

.right-check::before{
    content: "\2714";
    border: 1px solid rgb(131, 207, 191);
    color: rgb(131, 207, 191);
}

.right-check::after{
    display: inline-block;
    padding: 0px 4px;
    border-radius: 9px;
    font-size: 13px;
    margin: 5px;
}

.False-check::after{
    display: inline-block;
    padding: 0px 4px;
    border-radius: 9px;
    font-size: 13px;
    margin: 5px;
}

.editorial::after{
    background-color: rgb(71, 173, 241);
    color: white;
    content: "editorial";
}

.Q1-goals::after{
    background-color: rgb(21, 224, 89);
    color: white;
    content: "Q1-goals";
}

.Recruiting::after{
    background-color: rgb(219, 75, 31);
    color: white;
    content: "Recruiting";
}

.Mobile::after{
    background-color: rgb(104, 24, 168);
    color: white;
    content: "Mobile";
}

.Website::after{
    background-color: rgb(34, 149, 202);
    color: white;
    content: "Website";
}

.Sale::after{
    background-color: yellow;
    color: white;
    content: "Sale";
}